$primary: #2196F3;
$secondary: #E7003E;

.creategame-main{
    margin-top: 12vh;
    color: white;
    
    h1{
        font-size: 2rem;
        text-align: center;
    }

}
.form-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    .input-error{
        border: 4px solid $secondary
    }
    select{
        border: 4px solid $primary;
        border-radius: 0.5rem;
        height: 2.5rem;
        font-size: 1rem;  
    }
    input{
        border: 4px solid $primary;
        border-radius: 0.5rem;
        height: 2rem;
        font-size: 1rem;
      
    }
    textarea{
        border: 2px solid $primary;
        border-radius: 0.5rem;
        height: 5rem;
        font-size: 1rem;
    }
    .genres-container{
        .checkbox-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            }
        .selected-genres{
            background-color: $primary;
            border-radius: 0.5rem;
            text-align: center;
            color: black;
            font-size: 1rem;
            font-weight: bold;
        }
        }
    .form-submit{
        background: $secondary;
        color: white;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
        height: 4rem;
        font-weight: bold;
        transition: 0.3s linear;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        
        &:hover{
            background-color: #099227;
            color: white; 
        }
    }
    input:disabled, input[disabled] {
        background: #ccc;
        color: #666;
        cursor: not-allowed;
        &:hover{
            background: #666;
            color: #ccc

        }
    }
    .alert{
        color: $secondary;
        transition: 0.3s linear;
    }
}