.intro-container {
    // margin-top: 10vh;
    background-image: url(img/ak-47.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .intro-text{
        flex-wrap: wrap;
        margin-bottom: 60vh;
        margin-left: 120vh;
        font-size: 1rem;
        color: #fff;
        padding: 0.5rem 1rem;
        transition: 0.3s linear;
        background-color: rgba(0,0,0,0.5);
        padding: 0,5rem;
        border-radius: 1rem;
    }
    .intro-link{
        text-decoration: none;
        
        .intro-home-link{
            flex-wrap: wrap;
            background-color: #2196F3;
            color: #f0ede5;
            padding: 3rem;
            font-weight: bold;
            display: block;
            padding: 0.5rem 1.5rem;
            transition: 0.3s linear;
            border-radius: 5px;
        
        &:hover{
            background-color: #E7003E;
            color: #f0ede5;  
        }
    }

    }

}